---
openapi: 3.1.0
info:
  title: Recharge API
  version: 2021-11
  description: OpenAPI representation generated from the Recharge API Reference for
    version 2021-11. Recharge requires both an access token and the X-Recharge-Version
    header.
externalDocs:
  description: Recharge API Reference (2021-11)
  url: https://developer.stage.getrecharge.com/2021-11/
servers:
- url: https://api.rechargeapps.com
  description: Recharge production API
security:
- rechargeAccessToken: []
paths:
  "/addresses":
    post:
      tags:
      - Addresses
      summary: Create an address
      operationId: create_address
      description: Create a new address for a customer.
      parameters:
      - "$ref": "#/components/parameters/rechargeVersion"
      responses:
        '201':
          description: 'OK: The request was successful, created a new resource, and
            resource created is in the body.'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  address:
                    type: object
                    additionalProperties: true
                    properties:
                      id:
                        type: integer
                      address1:
                        type: string
                      address2:
                        type: string
                      city:
                        type: string
                      company:
                        type: string
                      country_code:
                        type: string
                      created_at:
                        type: string
                        format: date-time
                      customer_id:
                        type: integer
                      discounts:
                        type: array
                        items: {}
                      first_name:
                        type: string
                      last_name:
                        type: string
                      order_attributes:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                      order_note:
                        type: string
                      phone:
                        type: string
                      presentment_currency:
                        type: string
                      province:
                        type: string
                      shipping_lines_conserved:
                        type: array
                        items: {}
                      shipping_lines_override:
                        type: array
                        items: {}
                      updated_at:
                        type: string
                        format: date-time
                      zip:
                        type: string
              example:
                address:
                  id: 42171447
                  address1: 1030 Barnum Ave
                  address2: Suite 101
                  city: Stratford
                  company: Fake Company
                  country_code: US
                  created_at: '2022-10-12T20:16:09+00:00'
                  customer_id: 37657002
                  discounts: []
                  first_name: Fake First
                  last_name: Fake Last
                  order_attributes:
                  - name: custom name
                    value: custom value
                  order_note: My recurring order note
                  phone: 999-999-9999
                  presentment_currency: USD
                  province: Connecticut
                  shipping_lines_conserved: []
                  shipping_lines_override: []
                  updated_at: '2022-10-12T20:16:09+00:00'
                  zip: '06614'
      x-recharge-scopes:
      - write_customers
      x-source-anchor: https://developer.stage.getrecharge.com/2021-11/addresses/create_address
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                customer_id:
                  type: integer
                  description: Unique numeric identifier for the customer associated
                    with the address.
                address1:
                  type: string
                  description: The street associated with the `Address`. Minimum length
                    is 1 character.
                address2:
                  type: string
                  description: Any additional information associated with the shipping
                    address.
                city:
                  type: string
                  description: The city associated with the shipping address.
                company:
                  type: string
                  description: The company associated with the shipping address.
                country_code:
                  type: string
                  description: 2-letter country code.
                first_name:
                  type: string
                  description: The customer’s first name associated with the address.
                    Minimum length is 1 character.
                last_name:
                  type: string
                  description: The customer’s last name associated with the address.
                    Minimum length is 1 character.
                order_attributes:
                  type: array
                  description: Extra information that is added to the order.
                  items:
                    type: object
                    additionalProperties: false
                    properties:
                      name:
                        type: string
                        description: The name for the attribute.
                      value:
                        type: string
                        description: The value for the associated attribute.
                order_note:
                  type: string
                  description: Notes to be added to all orders associated with the
                    address.
                payment_method_id:
                  type: integer
                  description: Payment method id for the `Payment_method` to be associated
                    to this address.
                phone:
                  type: string
                  description: The phone number associated with the address. Must
                    be included in the request schema but can be an empty string.
                presentment_currency:
                  type: string
                  description: The currency that charges on this address will be processed
                    in. If no presentment_currency is passed, it will be set to your
                    default store currency.
                province:
                  type: string
                  description: The state or province associated with the address.
                    Check if country requires a province `COUNTRIES_REQUIRING_PROVINCE`.
                shipping_lines_override:
                  type: array
                  description: Used when shipping rates need to be overridden. If
                    this parameter has value `null`, rates will be fetched when a
                    related `Charge` is created or regenerated
                  items:
                    type: object
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        description: The code of the associated shipping line.
                      price:
                        type: string
                        description: The price (in store’s currency) of the associated
                          shipping line.
                      title:
                        type: string
                        description: The title of the associated shipping line.
                zip:
                  type: string
                  description: The zip or postal code associated with the address.
              required:
              - customer_id
              - address1
              - city
              - country_code
              - first_name
              - last_name
              - phone
              - province
              - zip
    get:
      tags:
      - Addresses
      summary: List addresses
      operationId: list_addresses
      description: "Returns all addresses from the store, or addresses for the user
        given in the parameter. \n\nHTTP examples\n `GET /addresses` \n\n `GET /addresses?customer_id=`\n\n
        `GET /addresses?discount_id=`\n\n `GET /addresses?discount_code=`\n\nYou can
        combine `created_at_min` and `created_at_max` to return all addresses created
        in the given timespan. This also applies to `updated_at_min` and `updated_at_max`
        parameters."
      parameters:
      - "$ref": "#/components/parameters/rechargeVersion"
      - name: created_at_max
        in: query
        required: false
        description: Returns addresses created before the given time.
        schema:
          type: string
          format: date-time
          description: Returns addresses created before the given time.
      - name: created_at_min
        in: query
        required: false
        description: Returns addresses created after the given time.
        schema:
          type: string
          format: date-time
          description: Returns addresses created after the given time.
      - name: customer_id
        in: query
        required: false
        description: Unique identifier of the customer.
        schema:
          type: integer
          description: Unique identifier of the customer.
      - name: discount_code
        in: query
        required: false
        description: Returns addresses that have the provided discount_code.
        schema:
          type: string
          description: Returns addresses that have the provided discount_code.
      - name: discount_id
        in: query
        required: false
        description: Returns addresses that have the provided discount_id.
        schema:
          type: string
          description: Returns addresses that have the provided discount_id.
      - name: ids
        in: query
        required: false
        description: Filter addresses by id. If passing multiple values, must be comma
          separated. Non-integer values will result in a 422 error
        schema:
          type: string
          description: Filter addresses by id. If passing multiple values, must be
            comma separated. Non-integer values will result in a 422 error
      - name: limit
        in: query
        required: false
        description: The amount of results. Default is 50 while the maximum is 250.
        schema:
          type: string
          description: The amount of results. Default is 50 while the maximum is 250.
          default: 50
          maximum: 250
      - name: page
        in: query
        required: false
        description: |-
          The page to show. Default is 1.

          Page-based pagination has been deprecated but still available to use for pages up to a 100. If you need data past this point, use cursor pagination.
        schema:
          type: string
          description: The page to show. Default is 1.
          default: 1
          deprecated: true
        deprecated: true
      - name: updated_at_max
        in: query
        required: false
        description: Returns addresses updated before the given date.
        schema:
          type: string
          description: Returns addresses updated before the given date.
      - name: updated_at_min
        in: query
        required: false
        description: Returns addresses updated after the given time.
        schema:
          type: string
          description: Returns addresses updated after the given time.
      - name: is_active
        in: query
        required: false
        description: Returns active addresses.
        schema:
          type: boolean
          description: Returns active addresses.
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  addresses:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties:
                        id:
                          type: integer
                        payment_method_id:
                          type: integer
                        address1:
                          type: string
                        address2:
                          type: string
                        city:
                          type: string
                        company:
                          type: string
                        country_code:
                          type: string
                        created_at:
                          type: string
                          format: date-time
                        customer_id:
                          type: integer
                        discounts:
                          type: array
                          items:
                            type: object
                            additionalProperties: true
                            properties:
                              id:
                                type: integer
                        first_name:
                          type: string
                        last_name:
                          type: string
                        order_attributes:
                          type: array
                          items:
                            type: object
                            additionalProperties: true
                            properties:
                              name:
                                type: string
                              value:
                                type: string
                        order_note:
                          type: string
                        phone:
                          type: string
                        presentment_currency:
                          type: string
                        province:
                          type: string
                        shipping_lines_conserved:
                          type: array
                          items: {}
                        shipping_lines_override:
                          type: array
                          items:
                            type: object
                            additionalProperties: true
                            properties:
                              code:
                                type: string
                              price:
                                type: string
                              title:
                                type: string
                        updated_at:
                          type: string
                          format: date-time
                        zip:
                          type: string
              example:
                addresses:
                - id: 42171447
                  payment_method_id: 17874235
                  address1: 1030 Barnum Ave
                  address2: Suite 101
                  city: Stratford
                  company: Fake Company
                  country_code: US
                  created_at: '2022-10-12T20:16:09+00:00'
                  customer_id: 37657002
                  discounts:
                  - id: 123456
                  first_name: Fake First
                  last_name: Fake Last
                  order_attributes:
                  - name: custom name
                    value: custom value
                  order_note: My recurring order note
                  phone: 999-999-9999
                  presentment_currency: USD
                  province: Connecticut
                  shipping_lines_conserved: []
                  shipping_lines_override:
                  - code: Standard Shipping
                    price: '0.00'
                    title: Standard Shipping
                  updated_at: '2022-10-12T20:16:09+00:00'
                  zip: '06614'
      x-recharge-scopes:
      - read_customers
      x-source-anchor: https://developer.stage.getrecharge.com/2021-11/addresses/list_addresses
  "/addresses/{id}":
    get:
      tags:
      - Addresses
      summary: Retrieve an address
      operationId: retrieve_address
      description: Retrieves address for customer based on specified address id.
      parameters:
      - "$ref": "#/components/parameters/rechargeVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Identifier for id.
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  address:
                    type: object
                    additionalProperties: true
                    properties:
                      id:
                        type: integer
                      payment_method_id:
                        type: integer
                      address1:
                        type: string
                      address2:
                        type: string
                      city:
                        type: string
                      company:
                        type: string
                      country_code:
                        type: string
                      created_at:
                        type: string
                        format: date-time
                      customer_id:
                        type: integer
                      discounts:
                        type: array
                        items: {}
                      first_name:
                        type: string
                      last_name:
                        type: string
                      order_attributes:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                      order_note:
                        type: string
                      phone:
                        type: string
                      presentment_currency:
                        type: string
                      province:
                        type: string
                      shipping_lines_conserved:
                        type: array
                        items: {}
                      shipping_lines_override:
                        type: array
                        items: {}
                      updated_at:
                        type: string
                        format: date-time
                      zip:
                        type: string
              example:
                address:
                  id: 42171447
                  payment_method_id: 17874235
                  address1: 1030 Barnum Ave
                  address2: Suite 101
                  city: Stratford
                  company: Fake Company
                  country_code: US
                  created_at: '2022-10-12T20:16:09+00:00'
                  customer_id: 37657002
                  discounts: []
                  first_name: Fake First
                  last_name: Fake Last
                  order_attributes:
                  - name: custom name
                    value: custom value
                  order_note: My recurring order note
                  phone: 999-999-9999
                  presentment_currency: USD
                  province: Connecticut
                  shipping_lines_conserved: []
                  shipping_lines_override: []
                  updated_at: '2022-10-12T20:16:09+00:00'
                  zip: '06614'
      x-recharge-scopes:
      - read_customers
      x-source-anchor: https://developer.stage.getrecharge.com/2021-11/addresses/retrieve_address
    put:
      tags:
      - Addresses
      summary: Update an address
      operationId: update_address
      description: |-
        Updates an existing address to match the specified parameters.

        Example: remove discounts from an addressTo remove all discounts from an address, set the `discounts` parameter to an empty array: `{"discounts": []}`

        Note: When updating the `country` property you will have to update the `zip` property as well, otherwise you will receive an error.
      parameters:
      - "$ref": "#/components/parameters/rechargeVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Identifier for id.
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  address:
                    type: object
                    additionalProperties: true
                    properties:
                      id:
                        type: integer
                      payment_method_id:
                        type: integer
                      address1:
                        type: string
                      address2:
                        type: string
                      city:
                        type: string
                      company:
                        type: string
                      country_code:
                        type: string
                      created_at:
                        type: string
                        format: date-time
                      customer_id:
                        type: integer
                      discounts:
                        type: array
                        items: {}
                      first_name:
                        type: string
                      last_name:
                        type: string
                      order_attributes:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                      order_note:
                        type: string
                      phone:
                        type: string
                      presentment_currency:
                        type: string
                      province:
                        type: string
                      shipping_lines_conserved:
                        type: array
                        items: {}
                      shipping_lines_override:
                        type: array
                        items: {}
                      updated_at:
                        type: string
                        format: date-time
                      zip:
                        type: string
              example:
                address:
                  id: 42171447
                  payment_method_id: 17874235
                  address1: 1030 Barnum Ave
                  address2: Suite 101
                  city: Stratford
                  company: Fake Company
                  country_code: US
                  created_at: '2022-10-12T20:16:09+00:00'
                  customer_id: 37657002
                  discounts: []
                  first_name: Fake First
                  last_name: Fake Last
                  order_attributes:
                  - name: custom name
                    value: custom value
                  order_note: My recurring order note
                  phone: 999-999-9999
                  presentment_currency: USD
                  province: Connecticut
                  shipping_lines_conserved: []
                  shipping_lines_override: []
                  updated_at: '2022-10-12T20:16:09+00:00'
                  zip: '06614'
      x-recharge-scopes:
      - write_customers
      x-source-anchor: https://developer.stage.getrecharge.com/2021-11/addresses/update_address
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                address1:
                  type: string
                  description: The street associated with the `Address`. Minimum length
                    is 1 character.
                address2:
                  type: string
                  description: Any additional information associated with the shipping
                    address.
                city:
                  type: string
                  description: The city associated with the shipping address. Minimum
                    length is 1 character.
                company:
                  type: string
                  description: The company associated with the shipping address.
                country_code:
                  type: string
                  description: 2-letter country code.
                discounts:
                  type: array
                  description: A discount which will be applied on the address. While
                    the `discounts` parameter is an array, only a single discount
                    code will be applied. If multiple discount codes are provided,
                    only the first discount in the array will apply to the address.
                  items:
                    type: object
                    additionalProperties: false
                    properties:
                      id:
                        type: integer
                        description: The id of a discount associated with this address.
                first_name:
                  type: string
                  description: The customer’s first name associated with the address.
                    Minimum length is 1 character.
                last_name:
                  type: string
                  description: The customer’s last name associated with the address.
                    Minimum length is 1 character.
                order_attributes:
                  type: array
                  description: Extra information that is added to the order.
                  items:
                    type: object
                    additionalProperties: false
                    properties:
                      name:
                        type: string
                        description: The name for the attribute.
                      value:
                        type: string
                        description: The value for the associated attribute.
                order_note:
                  type: string
                  description: Notes to be added to all orders associated with the
                    address.
                payment_method_id:
                  type: integer
                  description: Payment method id for the `Payment_method` to be associated
                    to this address.
                phone:
                  type: string
                  description: The phone number associated with the address. Must
                    be included in the request schema but can be an empty string.
                province:
                  type: string
                  description: The state or province associated with the address.
                    Check if country requires a province `COUNTRIES_REQUIRING_PROVINCE`.
                shipping_lines_override:
                  type: array
                  description: Used when shipping rates need to be overridden. If
                    this parameter has value `null`, rates will be fetched when a
                    related `Charge` is created or regenerated.
                  items:
                    type: object
                    additionalProperties: false
                    properties:
                      code:
                        type: string
                        description: The code of the associated shipping line.
                      price:
                        type: string
                        description: The price (in store’s currency) of the associated
                          shipping line.
                      title:
                        type: string
                        description: The title of the associated shipping line.
                zip:
                  type: string
                  description: The zip or postal code associated with the address.
                    Check if the country requires a zip code `COUNTRIES_NOT_REQUIRING_ZIP`.
                    If not included in the list then a zip code with the minimum length
                    of 1 character is required. If the country is `United States`
                    then validate against regex `UNITED_STATES_ZIP_REGEX`. If country
                    is `United Kingdom` then validate against regex `UNITED_KINGDOM_ZIP_REGEX`.
    delete:
      tags:
      - Addresses
      summary: Delete an address
      operationId: delete_address
      description: |-
        It is possible to delete certain addresses from the store using API.

        Only `Addresses` with no active `Subscriptions` can be deleted.
      parameters:
      - "$ref": "#/components/parameters/rechargeVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Identifier for id.
      responses:
        '204':
          description: 'Content Deleted: The server has successfully fulfilled the
            request and deleted the desired object and there is no content to send
            in the response body.'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties: {}
              example: {}
      x-recharge-scopes:
      - write_customers
      x-source-anchor: https://developer.stage.getrecharge.com/2021-11/addresses/delete_address
  "/addresses/merge":
    post:
      tags:
      - Addresses
      summary: Merge addresses
      operationId: merge_addresses
      description: |-
        Merges up to 10 source addresses into 1 target address.

        If one of the `Addresses` being merged has a different presentment currency, the entire merge will fail and throw an error.
      parameters:
      - "$ref": "#/components/parameters/rechargeVersion"
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  address:
                    type: object
                    additionalProperties: true
                    properties:
                      id:
                        type: integer
                      payment_method_id:
                        type: integer
                      address1:
                        type: string
                      address2:
                        type: string
                      city:
                        type: string
                      company:
                        type: string
                      country_code:
                        type: string
                      created_at:
                        type: string
                        format: date-time
                      customer_id:
                        type: integer
                      discounts:
                        type: array
                        items: {}
                      first_name:
                        type: string
                      last_name:
                        type: string
                      order_attributes:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                      order_note:
                        type: string
                      phone:
                        type: string
                      presentment_currency:
                        type: string
                      province:
                        type: string
                      shipping_lines_conserved:
                        type: array
                        items: {}
                      shipping_lines_override:
                        type: array
                        items: {}
                      updated_at:
                        type: string
                        format: date-time
                      zip:
                        type: string
              example:
                address:
                  id: 42171447
                  payment_method_id: 17874235
                  address1: 1030 Barnum Ave
                  address2: Suite 101
                  city: Stratford
                  company: Fake Company
                  country_code: US
                  created_at: '2022-10-12T20:16:09+00:00'
                  customer_id: 37657002
                  discounts: []
                  first_name: Fake First
                  last_name: Fake Last
                  order_attributes:
                  - name: custom name
                    value: custom value
                  order_note: My recurring order note
                  phone: 999-999-9999
                  presentment_currency: USD
                  province: Connecticut
                  shipping_lines_conserved: []
                  shipping_lines_override: []
                  updated_at: '2022-10-12T20:16:09+00:00'
                  zip: '06614'
      x-recharge-scopes:
      - write_customers
      x-source-anchor: https://developer.stage.getrecharge.com/2021-11/addresses/merge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                delete_source_addresses:
                  type: boolean
                  description: Indicates whether source addresses should be deleted.
                next_charge_date:
                  type: string
                  description: Specifies the next charge date of the associated subscriptions
                    on the target address.
                target_address:
                  type: object
                  description: The address all of the subscriptions should be moved
                    to.
                  additionalProperties: false
                  properties:
                    id:
                      type: integer
                      description: The id of the address.
                source_addresses:
                  type: array
                  description: The list of addresses that the subscriptions should
                    move from.
                  items: {}
              required:
              - target_address
              - source_addresses
  "/addresses/{id}/charges/skip":
    post:
      tags:
      - Addresses
      summary: Skip future charge
      operationId: skip_future_charge_address
      description: |-
        Skip a `Charge` in the future for one or multiple `Subscriptions` associated with the `Address`.

        If the `Charge` does not exist on the date, it will be created with a `SKIPPED` status.
      parameters:
      - "$ref": "#/components/parameters/rechargeVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Identifier for id.
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  charge:
                    type: object
                    additionalProperties: true
                    properties:
                      id:
                        type: integer
                      address_id:
                        type: integer
                      analytics_data:
                        type: object
                        additionalProperties: true
                        properties:
                          utm_params:
                            type: array
                            items:
                              type: object
                              additionalProperties: true
                              properties:
                                utm_source:
                                  type: string
                                utm_medium:
                                  type: string
                      billing_address:
                        type: object
                        additionalProperties: true
                        properties:
                          address1:
                            type: string
                          address2:
                            type: string
                          city:
                            type: string
                          company:
                            type: string
                          country_code:
                            type: string
                          first_name:
                            type: string
                          last_name:
                            type: string
                          phone:
                            type: string
                          province:
                            type: string
                          zip:
                            type: string
                      client_details:
                        type: object
                        additionalProperties: true
                        properties:
                          browser_ip:
                            type: string
                          user_agent:
                            type: string
                      created_at:
                        type: string
                        format: date-time
                      currency:
                        type: string
                      customer:
                        type: object
                        additionalProperties: true
                        properties:
                          id:
                            type: integer
                          email:
                            type: string
                          external_customer_id:
                            type: object
                            additionalProperties: true
                            properties:
                              ecommerce:
                                type: string
                          hash:
                            type: string
                      discounts:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                          properties:
                            id:
                              type: integer
                            code:
                              type: string
                            value:
                              type: integer
                            value_type:
                              type: string
                      error: {}
                      error_type: {}
                      external_order_id:
                        type: object
                        additionalProperties: true
                        properties:
                          ecommerce:
                            type: string
                      external_transaction_id:
                        type: object
                        additionalProperties: true
                        properties:
                          payment_processor:
                            type: string
                      has_uncommitted_changes:
                        type: boolean
                      line_items:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                          properties:
                            purchase_item_id:
                              type: integer
                            external_product_id:
                              type: object
                              additionalProperties: true
                              properties:
                                ecommerce:
                                  type: string
                            external_variant_id:
                              type: object
                              additionalProperties: true
                              properties:
                                ecommerce:
                                  type: string
                            grams:
                              type: integer
                            handle:
                              type: string
                            images:
                              type: object
                              additionalProperties: true
                              properties:
                                large:
                                  type: string
                                medium:
                                  type: string
                                original:
                                  type: string
                                small:
                                  type: string
                            original_price:
                              type: string
                            properties:
                              type: array
                              items:
                                type: object
                                additionalProperties: true
                                properties:
                                  name:
                                    type: string
                                  value:
                                    type: string
                            purchase_item_type:
                              type: string
                            quantity:
                              type: integer
                            sku:
                              type: string
                            tax_due:
                              type: string
                            tax_lines:
                              type: array
                              items:
                                type: object
                                additionalProperties: true
                                properties:
                                  price:
                                    type: string
                                  rate:
                                    type: string
                                  title:
                                    type: string
                                  unit_price:
                                    type: string
                            taxable:
                              type: boolean
                            taxable_amount:
                              type: string
                            title:
                              type: string
                            total_price:
                              type: string
                            unit_price:
                              type: string
                            unit_price_includes_tax:
                              type: boolean
                            variant_title:
                              type: string
                      note:
                        type: string
                      order_attributes:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                      orders_count:
                        type: integer
                      payment_processor:
                        type: string
                      processed_at: {}
                      retry_date: {}
                      scheduled_at:
                        type: string
                        format: date
                      shipping_address:
                        type: object
                        additionalProperties: true
                        properties:
                          address1:
                            type: string
                          address2:
                            type: string
                          city:
                            type: string
                          company:
                            type: string
                          country_code:
                            type: string
                          first_name:
                            type: string
                          last_name:
                            type: string
                          phone:
                            type: string
                          province:
                            type: string
                          zip:
                            type: string
                      shipping_lines:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                          properties:
                            code:
                              type: string
                            price:
                              type: string
                            source:
                              type: string
                            taxable:
                              type: boolean
                            tax_lines:
                              type: array
                              items:
                                type: object
                                additionalProperties: true
                                properties:
                                  price:
                                    type: string
                                  rate:
                                    type: number
                                  title:
                                    type: string
                            title:
                              type: string
                      status:
                        type: string
                      subtotal_price:
                        type: string
                      tags:
                        type: string
                      tax_lines:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                          properties:
                            price:
                              type: string
                            rate:
                              type: number
                            title:
                              type: string
                      taxable:
                        type: boolean
                      total_discounts:
                        type: string
                      total_line_items_price:
                        type: string
                      total_price:
                        type: string
                      total_refunds:
                        type: string
                      total_tax:
                        type: string
                      total_weight_grams:
                        type: integer
                      type:
                        type: string
                      updated_at:
                        type: string
                        format: date-time
              example:
                charge:
                  id: 377749210
                  address_id: 42171447
                  analytics_data:
                    utm_params:
                    - utm_source: facebook
                      utm_medium: cpc
                  billing_address:
                    address1: 601 SW Washing St.
                    address2: Suite 101
                    city: Portland
                    company: Acme Corp
                    country_code: US
                    first_name: Jane
                    last_name: Doe
                    phone: 888-888-8888
                    province: Oregon
                    zip: '97205'
                  client_details:
                    browser_ip: 192.168.0.1
                    user_agent: safari webkit
                  created_at: '2021-11-09T19:22:13+00:00'
                  currency: USD
                  customer:
                    id: 37657002
                    email: test@test.com
                    external_customer_id:
                      ecommerce: '2879413682227'
                    hash: 7e706455cbd13e40
                  discounts:
                  - id: 12345
                    code: TESTCODE10
                    value: 10
                    value_type: fixed_amount
                  error:
                  error_type:
                  external_order_id:
                    ecommerce: '2541635698739'
                  external_transaction_id:
                    payment_processor: ch_1HzWElJ2zqHvZRd1TWKFFqDR
                  has_uncommitted_changes: false
                  line_items:
                  - purchase_item_id: 63898947
                    external_product_id:
                      ecommerce: '4381728735283'
                    external_variant_id:
                      ecommerce: '999999999999'
                    grams: 454
                    handle: shirt-package
                    images:
                      large: https://example-cdn.com/s/files/1/0257/0351/4163/products/il_570xN.1723312095_a43h_large.jpg
                      medium: https://example-cdn.com/s/files/1/0257/0351/4163/products/il_570xN.1723312095_a43h_medium.jpg
                      original: https://example-cdn.com/s/files/1/0257/0351/4163/products/il_570xN.1723312095_a43h.jpg
                      small: https://example-cdn.com/s/files/1/0257/0351/4163/products/il_570xN.1723312095_a43h_small.jpg
                    original_price: '10.00'
                    properties:
                    - name: Color
                      value: Blue
                    purchase_item_type: subscription
                    quantity: 1
                    sku: TOM0001
                    tax_due: '1.30'
                    tax_lines:
                    - price: '0.9931'
                      rate: '0.0725'
                      title: CA State Tax
                      unit_price: '0.3310'
                    - price: '0.3082'
                      rate: '0.0225'
                      title: LA County Tax
                      unit_price: '0.1027'
                    taxable: true
                    taxable_amount: '10.00'
                    title: Shirt package
                    total_price: '11.30'
                    unit_price: '10.00'
                    unit_price_includes_tax: false
                    variant_title: Blue T-shirt
                  note: next order in sequence 3
                  order_attributes:
                  - name: Checkout-Method
                    value: delivery
                  orders_count: 1
                  payment_processor: stripe
                  processed_at:
                  retry_date:
                  scheduled_at: '2021-12-09'
                  shipping_address:
                    address1: 1030 Barnum Ave
                    address2: Suite 101
                    city: Stratford
                    company: Fake Company
                    country_code: US
                    first_name: Fake First
                    last_name: Fake Last
                    phone: 999-999-9999
                    province: Connecticut
                    zip: '06614'
                  shipping_lines:
                  - code: Standard
                    price: '4.90'
                    source: shopify
                    taxable: true
                    tax_lines:
                    - price: '0.355'
                      rate: 0.0725
                      title: CA State Tax
                    - price: '0.110'
                      rate: 0.0225
                      title: Los Angeles  County Tax
                    title: Standard
                  status: skipped
                  subtotal_price: '10.00'
                  tags: Subscription, Subscription Recurring Order
                  tax_lines:
                  - price: '0.950'
                    rate: 0.0725
                    title: CA State Tax
                  - price: '0.335'
                    rate: 0.0225
                    title: Los Angeles  County Tax
                  taxable: true
                  total_discounts: '10.0'
                  total_line_items_price: '10.00'
                  total_price: '11.29'
                  total_refunds: '0.00'
                  total_tax: '1.29'
                  total_weight_grams: 454
                  type: recurring
                  updated_at: '2021-11-09T23:59:32+00:00'
        '404':
          description: the `Address` with `id` does not exist
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  error:
                    type: string
              example:
                error: address not found
        '422':
          description: invalid data passed to the endpoint
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  errors:
                    type: object
                    additionalProperties: true
                    properties:
                      date:
                        type: array
                        items:
                          type: string
              example:
                errors:
                  date:
                  - Date must be at least one day in the future
      x-recharge-scopes:
      - write_orders
      x-source-anchor: https://developer.stage.getrecharge.com/2021-11/addresses/skip_future_charge
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                date:
                  type: string
                  format: date-time
                  description: The date in the future of the `Charge` to be skipped.
                subscription_ids:
                  type: array
                  description: A list containing the `Subscription` IDs to be skipped.
                  items: {}
              required:
              - date
              - subscription_ids
  "/bundle_selections":
    get:
      tags:
      - Bundle Selections
      summary: List bundle selections
      operationId: bundle_selection_list
      description: "Returns a list of `BundleSelections`.\n\nHTTP request examples\n`GET
        /bundle_selections?purchase_item_ids=:purchase_item_id_1,:purchase_item_id_2`\n\n`GET
        /bundle_selections?bundle_variant_ids=:bundle_variant_id_1,:bundle_variant_id_2`\n\n`GET
        /bundle_selections?limit=1`\n\n`GET /bundle_selections?limit=1&page=2`\n\n`GET
        /bundle_selections?sort_by=updated_at-desc`\n\nReturned `BundleSelections`
        are sorted descending by ID value by default.\n\n`BundleSelections` endpoints
        are available for Recharge Plus merchants. If you’re interested in leveraging
        the Recharge `bundle_selections` endpoints, reach out to your account manager
        or our Support team. \nLearn more about Recharge Plus."
      parameters:
      - "$ref": "#/components/parameters/rechargeVersion"
      - name: purchase_item_ids
        in: query
        required: false
        description: |-
          Filter `BundleSelections` by `Subscription` or `Onetime` ID.

          If passing multiple values, must be comma separated. Non-integer values will result in a `422` error.
        schema:
          type: string
          description: Filter `BundleSelections` by `Subscription` or `Onetime` ID.
      - name: bundle_variant_ids
        in: query
        required: false
        description: |-
          Filter `BundleSelections` by `BundleVariants`.

          If passing multiple values, must be comma separated. Non-integer values will result in a `422` error.
        schema:
          type: string
          description: Filter `BundleSelections` by `BundleVariants`.
      - name: limit
        in: query
        required: false
        description: The amount of results.
        schema:
          type: string
          description: The amount of results.
          default: 50
          maximum: 250
      - name: page
        in: query
        required: false
        description: |-
          The page to show.

          Page-based pagination has been deprecated but still available to use for pages up to a 100. If you need data past this point, use cursor pagination.
        schema:
          type: string
          description: The page to show.
          default: 1
          deprecated: true
        deprecated: true
      - name: sort_by
        in: query
        required: false
        description: |-
          Sort listed `BundleSelections` in a specific order.
          Available sort options: `id-asc`, `id-desc`, `updated_at-asc`, `updated_at-desc`.
        schema:
          type: string
          description: |-
            Sort listed `BundleSelections` in a specific order.
            Available sort options: `id-asc`, `id-desc`, `updated_at-asc`, `updated_at-desc`.
      - name: active_purchase_items
        in: query
        required: false
        description: |-
          Bundle selections are not directly linked to Subscriptions. By default, the endpoint returns Bundle Selections, even those associated with cancelled subscriptions, unless the Bundle Selection has been deleted.
          To exclude cancelled subscriptions from your results, include `active_purchase_items=true` in your query.
        schema:
          type: boolean
          description: |-
            Bundle selections are not directly linked to Subscriptions. By default, the endpoint returns Bundle Selections, even those associated with cancelled subscriptions, unless the Bundle Selection has been deleted.
            To exclude cancelled subscriptions from your results, include `active_purchase_items=true` in your query.
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  next_cursor: {}
                  previous_cursor: {}
                  bundle_selections:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
                      properties:
                        id:
                          type: integer
                        bundle_variant:
                          type: integer
                        purchase_item_id:
                          type: integer
                        created_at:
                          type: string
                          format: date-time
                        external_product_id:
                          type: string
                        external_variant_id:
                          type: string
                        items:
                          type: array
                          items:
                            type: object
                            additionalProperties: true
                            properties:
                              id:
                                type: integer
                              collection_id:
                                type: string
                              collection_source:
                                type: string
                              created_at:
                                type: string
                                format: date-time
                              external_product_id:
                                type: string
                              external_variant_id:
                                type: string
                              quantity:
                                type: integer
                              updated_at:
                                type: string
                                format: date-time
                        updated_at:
                          type: string
                          format: date-time
              example:
                next_cursor:
                previous_cursor:
                bundle_selections:
                - id: 100714428
                  bundle_variant: 382417
                  purchase_item_id: 199820883
                  created_at: '2022-08-26T18:31:28+00:00'
                  external_product_id: '7121697210548'
                  external_variant_id: '41450875650228'
                  items:
                  - id: 541
                    collection_id: '287569608884'
                    collection_source: shopify
                    created_at: '2022-08-26T18:31:28+00:00'
                    external_product_id: '7121693671604'
                    external_variant_id: '41450853105844'
                    quantity: 3
                    updated_at: '2022-08-26T18:52:41+00:00'
                  updated_at: '2022-08-26T18:31:28+00:00'
      x-recharge-scopes:
      - read_subscriptions
      x-source-anchor: https://developer.stage.getrecharge.com/2021-11/bundle_selections/bundle_selection_list
    post:
      tags:
      - Bundle Selections
      summary: Create a bundle selection
      operationId: bundle_selection_create
      description: "Create a `BundleSelection`.\n\n`BundleSelections` endpoints are
        available for Recharge Plus merchants. If you’re interested in leveraging
        the Recharge `bundle_selections` endpoints, reach out to your account manager
        or our Support team. \nLearn more about Recharge Plus."
      parameters:
      - "$ref": "#/components/parameters/rechargeVersion"
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  bundle_selection:
                    type: object
                    additionalProperties: true
                    properties:
                      id:
                        type: integer
                      bundle_variant:
                        type: integer
                      purchase_item_id:
                        type: integer
                      created_at:
                        type: string
                        format: date-time
                      external_product_id:
                        type: string
                      external_variant_id:
                        type: string
                      items:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                          properties:
                            id:
                              type: integer
                            collection_id:
                              type: string
                            collection_source:
                              type: string
                            created_at:
                              type: string
                              format: date-time
                            external_product_id:
                              type: string
                            external_variant_id:
                              type: string
                            quantity:
                              type: integer
                            updated_at:
                              type: string
                              format: date-time
                      updated_at:
                        type: string
                        format: date-time
              example:
                bundle_selection:
                  id: 100714428
                  bundle_variant: 382417
                  purchase_item_id: 199820883
                  created_at: '2022-08-26T18:31:28+00:00'
                  external_product_id: '7121697210548'
                  external_variant_id: '41450875650228'
                  items:
                  - id: 541
                    collection_id: '287569608884'
                    collection_source: shopify
                    created_at: '2022-08-26T18:31:28+00:00'
                    external_product_id: '7121693671604'
                    external_variant_id: '41450853105844'
                    quantity: 3
                    updated_at: '2022-08-26T18:52:41+00:00'
                  updated_at: '2022-08-26T18:31:28+00:00'
        '422':
          description: missing required field or invalid items passed
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  errors:
                    type: object
                    additionalProperties: true
                    properties:
                      bundle_variant_id:
                        type: array
                        items:
                          type: string
              example:
                errors:
                  bundle_variant_id:
                  - Bundle variant 41450853105840 does not exist
      x-recharge-scopes:
      - write_subscriptions
      x-source-anchor: https://developer.stage.getrecharge.com/2021-11/bundle_selections/bundle_selection_create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                purchase_item_id:
                  type: integer
                  description: The ID of the `PurchaseItem` associated with the `BundleSelection`.
                plan_id:
                  type: integer
                  description: A Recharge Plan ID. If provided in a dynamically-priced
                    Bundle, the unit price of each product variant will be inferred
                    from the plan associated with the ID; otherwise, it will be inferred
                    from the plan with the greatest discount for each product in the
                    selection. This is not used in fixed-priced Bundles.
                items:
                  type: array
                  description: A list of `item` objects, each containing information
                    about a distinct product selected as part of the Bundle.
                  items:
                    type: object
                    additionalProperties: false
                    properties:
                      collection_id:
                        type: string
                        description: The collection id as it appears in the external
                          e-commerce platform.
                      collection_source:
                        type: string
                        description: The identifier of the external e-commerce platform.
                      external_product_id:
                        type: string
                        description: The product id as it appears in the external
                          e-commerce platform. This is the item which is going to
                          be extracted when the Bundle is processed.
                      external_variant_id:
                        type: string
                        description: The variant id as it appears in the external
                          e-commerce platform. This is the item which is going to
                          be extracted when the Bundle is processed.
                      quantity:
                        type: integer
                        description: The quantity of this product.
              required:
              - purchase_item_id
              - items
  "/bundle_selections/{id}":
    get:
      tags:
      - Bundle Selections
      summary: Retrieve a bundle selection
      operationId: bundle_selection_retrieve
      description: "Retrieve a `BundleSelection` using the `bundle_selection_id`.\n\n`BundleSelections`
        endpoints are available for Recharge Plus merchants. If you’re interested
        in leveraging the Recharge `bundle_selections` endpoints, reach out to your
        account manager or our Support team. \nLearn more about Recharge Plus."
      parameters:
      - "$ref": "#/components/parameters/rechargeVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Identifier for id.
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  bundle_selection:
                    type: object
                    additionalProperties: true
                    properties:
                      id:
                        type: integer
                      bundle_variant:
                        type: integer
                      purchase_item_id:
                        type: integer
                      created_at:
                        type: string
                        format: date-time
                      external_product_id:
                        type: string
                      external_variant_id:
                        type: string
                      items:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                          properties:
                            id:
                              type: integer
                            collection_id:
                              type: string
                            collection_source:
                              type: string
                            created_at:
                              type: string
                              format: date-time
                            external_product_id:
                              type: string
                            external_variant_id:
                              type: string
                            quantity:
                              type: integer
                            updated_at:
                              type: string
                              format: date-time
                      updated_at:
                        type: string
                        format: date-time
              example:
                bundle_selection:
                  id: 100714428
                  bundle_variant: 382417
                  purchase_item_id: 199820883
                  created_at: '2022-08-26T18:31:28+00:00'
                  external_product_id: '7121697210548'
                  external_variant_id: '41450875650228'
                  items:
                  - id: 541
                    collection_id: '287569608884'
                    collection_source: shopify
                    created_at: '2022-08-26T18:31:28+00:00'
                    external_product_id: '7121693671604'
                    external_variant_id: '41450853105844'
                    quantity: 3
                    updated_at: '2022-08-26T18:52:41+00:00'
                  updated_at: '2022-08-26T18:31:28+00:00'
        '404':
          description: the `BundleSelection` with `bundle_selection_id` does not exist
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  error:
                    type: string
              example:
                error: Bundle Selection not found
      x-recharge-scopes:
      - read_subscriptions
      x-source-anchor: https://developer.stage.getrecharge.com/2021-11/bundle_selections/bundle_selection_retrieve
    put:
      tags:
      - Bundle Selections
      summary: Update a bundle selection
      operationId: bundle_selection_update
      description: "Modify an existing `BundleSelection` to match the specified parameters.\n\n`BundleSelections`
        endpoints are available for Recharge Plus merchants. If you’re interested
        in leveraging the Recharge `bundle_selections` endpoints, reach out to your
        account manager or our Support team. \nLearn more about Recharge Plus."
      parameters:
      - "$ref": "#/components/parameters/rechargeVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Identifier for id.
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  bundle_selection:
                    type: object
                    additionalProperties: true
                    properties:
                      id:
                        type: integer
                      bundle_variant:
                        type: integer
                      purchase_item_id:
                        type: integer
                      created_at:
                        type: string
                        format: date-time
                      external_product_id:
                        type: string
                      external_variant_id:
                        type: string
                      items:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                          properties:
                            id:
                              type: integer
                            collection_id:
                              type: string
                            collection_source:
                              type: string
                            created_at:
                              type: string
                              format: date-time
                            external_product_id:
                              type: string
                            external_variant_id:
                              type: string
                            quantity:
                              type: integer
                            updated_at:
                              type: string
                              format: date-time
                      updated_at:
                        type: string
                        format: date-time
              example:
                bundle_selection:
                  id: 100714428
                  bundle_variant: 382417
                  purchase_item_id: 199820883
                  created_at: '2022-08-26T18:31:28+00:00'
                  external_product_id: '7121697210548'
                  external_variant_id: '41450875650228'
                  items:
                  - id: 541
                    collection_id: '287569608884'
                    collection_source: shopify
                    created_at: '2022-08-26T18:31:28+00:00'
                    external_product_id: '7121693671604'
                    external_variant_id: '41450853105844'
                    quantity: 3
                    updated_at: '2022-08-26T18:52:41+00:00'
                  updated_at: '2022-08-26T18:31:28+00:00'
        '404':
          description: the `BundleSelection` with `bundle_selection_id` does not exist
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  error:
                    type: string
              example:
                error: Bundle Selection not found
        '422':
          description: invalid items passed
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  errors:
                    type: object
                    additionalProperties: true
                    properties:
                      bundle_variant_id:
                        type: array
                        items:
                          type: string
              example:
                errors:
                  bundle_variant_id:
                  - Bundle variant 41450853105840 not found
      x-recharge-scopes:
      - write_subscriptions
      x-source-anchor: https://developer.stage.getrecharge.com/2021-11/bundle_selections/bundle_selection_update
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                purchase_item_id:
                  type: integer
                  description: The ID of the `PurchaseItem` associated with the `BundleSelection`.
                plan_id:
                  type: integer
                  description: A Recharge Plan ID. If provided in a dynamically-priced
                    Bundle, the unit price of each product variant will be inferred
                    from the plan associated with the ID; otherwise, it will be inferred
                    from the plan with the greatest discount for each product in the
                    selection. This is not used in fixed-priced Bundles.
                items:
                  type: array
                  description: A list of `item` objects, each containing information
                    about a distinct product selected as part of the Bundle.
                  items: {}
    delete:
      tags:
      - Bundle Selections
      summary: Delete a bundle selection
      operationId: bundle_selection_delete
      description: "Delete a `BundleSelection`\n\n`BundleSelections` endpoints are
        available for Recharge Plus merchants. If you’re interested in leveraging
        the Recharge `bundle_selections` endpoints, reach out to your account manager
        or our Support team. \nLearn more about Recharge Plus."
      parameters:
      - "$ref": "#/components/parameters/rechargeVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Identifier for id.
      responses:
        '204':
          description: the `BundleSelection` has been removed and there is no content
            to send back in the response body.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties: {}
              example: {}
        '404':
          description: the `BundleSelection` with `id` does not exist
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  error:
                    type: string
              example:
                error: Bundle Selection not found
      x-recharge-scopes:
      - write_subscriptions
      x-source-anchor: https://developer.stage.getrecharge.com/2021-11/bundle_selections/bundle_selection_delete
  "/charges/{id}":
    get:
      tags:
      - Charges
      summary: Retrieve a charge
      operationId: charge_retrieve
      description: "Retrieve a `Charge` using the `charge_id`.\n\nStarting March 19th,
        2025, processed charges (those where status equals success, refunded, or partially-refunded)
        that have a value for processed_at greater than 90 days in the past will no
        longer appear in responses. As a result, you may receive an error. \n\n Charge
        data processed over 90 days ago will remain available through the  Exports
        tool in the Recharge merchant portal and within the  Merchant portal UI. \n\nExample
        of unaffected API calls: \n[RETRIEVE A CHARGE] `/charges/{id}`  (if it's a
        charge that does not have a processed_at date or the processed_at date is
        within the last 90 days) \n\nExample of API calls that will result in an error:
        \n[RETRIEVE A CHARGE] `/charges/{id}`  (if it's a charge with a processed_at
        date older than 90 days)"
      parameters:
      - "$ref": "#/components/parameters/rechargeVersion"
      - name: id
        in: path
        required: true
        schema:
          type: string
        description: Identifier for id.
      responses:
        '200':
          description: successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  charge:
                    type: object
                    additionalProperties: true
                    properties:
                      id:
                        type: integer
                      address_id:
                        type: integer
                      analytics_data:
                        type: object
                        additionalProperties: true
                        properties:
                          utm_params:
                            type: array
                            items:
                              type: object
                              additionalProperties: true
                              properties:
                                utm_source:
                                  type: string
                                utm_medium:
                                  type: string
                      billing_address:
                        type: object
                        additionalProperties: true
                        properties:
                          address1:
                            type: string
                          address2:
                            type: string
                          city:
                            type: string
                          company:
                            type: string
                          country_code:
                            type: string
                          first_name:
                            type: string
                          last_name:
                            type: string
                          phone:
                            type: string
                          province:
                            type: string
                          zip:
                            type: string
                      client_details:
                        type: object
                        additionalProperties: true
                        properties:
                          browser_ip:
                            type: string
                          user_agent:
                            type: string
                      created_at:
                        type: string
                        format: date-time
                      currency:
                        type: string
                      customer:
                        type: object
                        additionalProperties: true
                        properties:
                          id:
                            type: integer
                          email:
                            type: string
                          external_customer_id:
                            type: object
                            additionalProperties: true
                            properties:
                              ecommerce:
                                type: string
                          hash:
                            type: string
                      discounts:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                          properties:
                            id:
                              type: integer
                            code:
                              type: string
                            value:
                              type: integer
                            value_type:
                              type: string
                      error: {}
                      error_type: {}
                      external_order_id:
                        type: object
                        additionalProperties: true
                        properties:
                          ecommerce:
                            type: string
                      external_transaction_id:
                        type: object
                        additionalProperties: true
                        properties:
                          payment_processor:
                            type: string
                      has_uncommitted_changes:
                        type: boolean
                      line_items:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                          properties:
                            purchase_item_id:
                              type: integer
                            external_product_id:
                              type: object
                              additionalProperties: true
                              properties:
                                ecommerce:
                                  type: string
                            external_variant_id:
                              type: object
                              additionalProperties: true
                              properties:
                                ecommerce:
                                  type: string
                            grams:
                              type: integer
                            handle:
                              type: string
                            images:
                              type: object
                              additionalProperties: true
                              properties:
                                large:
                                  type: string
                                medium:
                                  type: string
                                original:
                                  type: string
                                small:
                                  type: string
                            original_price:
                              type: string
                            properties:
                              type: array
                              items:
                                type: object
                                additionalProperties: true
                                properties:
                                  name:
                                    type: string
                                  value:
                                    type: string
                            purchase_item_type:
                              type: string
                            quantity:
                              type: integer
                            sku:
                              type: string
                            tax_due:
                              type: string
                            tax_lines:
                              type: array
                              items:
                                type: object
                                additionalProperties: true
                                properties:
                                  price:
                                    type: string
                                  rate:
                                    type: string
                                  title:
                                    type: string
                                  unit_price:
                                    type: string
                            taxable:
                              type: boolean
                            taxable_amount:
                              type: string
                            title:
                              type: string
                            total_price:
                              type: string
                            unit_price:
                              type: string
                            unit_price_includes_tax:
                              type: boolean
                            variant_title:
                              type: string
                      note:
                        type: string
                      order_attributes:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                          properties:
                            name:
                              type: string
                            value:
                              type: string
                      orders_count:
                        type: integer
                      payment_processor:
                        type: string
                      processed_at:
                        type: string
                        format: date-time
                      retry_date:
                        type: string
                        format: date
                      scheduled_at:
                        type: string
                        format: date
                      shipping_address:
                        type: object
                        additionalProperties: true
                        properties:
                          address1:
                            type: string
                          address2:
                            type: string
                          city:
                            type: string
                          company:
                            type: string
                          country_code:
                            type: string
                          first_name:
                            type: string
                          last_name:
                            type: string
                          phone:
                            type: string
                          province:
                            type: string
                          zip:
                            type: string
                      shipping_lines:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                          properties:
                            code:
                              type: string
                            price:
                              type: string
                            source:
                              type: string
                            taxable:
                              type: boolean
                            tax_lines:
                              type: array
                              items:
                                type: object
                                additionalProperties: true
                                properties:
                                  price:
                                    type: string
                                  rate:
                                    type: number
                                  title:
                                    type: string
                            title:
                              type: string
                      status:
                        type: string
                      subtotal_price:
                        type: string
                      tags:
                        type: string
                      tax_lines:
                        type: array
                        items:
                          type: object
                          additionalProperties: true
                          properties:
                            price:
                              type: string
                            rate:
                              type: number
                            title:
                              type: string
                      taxable:
                        type: boolean
                      taxes_included:
                        type: boolean
                      total_discounts:
                        type: string
                      total_line_items_price:
                        type: string
                      total_price:
                        type: string
                      total_refunds:
                        type: string
                      total_tax:
                        type: string
                      total_weight_grams:
                        type: integer
                      type:
                        type: string
                      updated_at:
                        type: string
                        format: date-time
              example:
                charge:
                  id: 377749210
                  address_id: 42171447
                  analytics_data:
                    utm_params:
                    - utm_source: facebook
                      utm_medium: cpc
                  billing_address:
                    address1: 601 SW Washing St.
                    address2: Suite 101
                    city: Portland
                    company: Acme Corp
                    country_code: US
                    first_name: Jane
                    last_name: Doe
                    phone: 888-888-8888
                    province: Oregon
                    zip: '97205'
                  client_details:
                    browser_ip: 192.168.0.1
                    user_agent: safari webkit
                  created_at: '2021-11-09T19:22:13+00:00'
                  currency: USD
                  customer:
                    id: 37657002
                    email: test@test.com
                    external_customer_id:
                      ecommerce: '2879413682227'
                    hash: 7e706455cbd13e40
                  discounts:
                  - id: 12345
                    code: TESTCODE10
                    value: 10
                    value_type: fixed_amount
                  error:
                  error_type:
                  external_order_id:
                    ecommerce: '2541635698739'
                  external_transaction_id:
                    payment_processor: ch_1HzWElJ2zqHvZRd1TWKFFqDR
                  has_uncommitted_changes: false
                  line_items:
                  - purchase_item_id: 63898947
                    external_product_id:
                      ecommerce: '4381728735283'
                    external_variant_id:
                      ecommerce: '999999999999'
                    grams: 454
                    handle: shirt-package
                    images:
                      large: https://example-cdn.com/s/files/1/0257/0351/4163/products/il_570xN.1723312095_a43h_large.jpg
                      medium: https://example-cdn.com/s/files/1/0257/0351/4163/products/il_570xN.1723312095_a43h_medium.jpg
                      original: https://example-cdn.com/s/files/1/0257/0351/4163/products/il_570xN.1723312095_a43h.jpg
                      small: https://example-cdn.com/s/files/1/0257/0351/4163/products/il_570xN.1723312095_a43h_small.jpg
                    original_price: '10.00'
                    properties:
                    - name: Color
                      value: Blue
                    purchase_item_type: subscription
                    quantity: 1
                    sku: TOM0001
                    tax_due: '1.30'
                    tax_lines:
                    - price: '0.9931'
                      rate: '0.0725'
                      title: CA State Tax
                      unit_price: '0.3310'
                    - price: '0.3082'
                      rate: '0.0225'
                      title: LA County Tax
                      unit_price: '0.1027'
                    taxable: true
                    taxable_amount: '10.00'
                    title: Shirt package
                    total_price: '11.30'
                    unit_price: '10.00'
                    unit_price_includes_tax: false
                    variant_title: Blue T-shirt
                  note: next order in sequence 3
                  order_attributes:
                  - name: Checkout-Method
                    value: delivery
                  orders_count: 1
                  payment_processor: stripe
                  processed_at: '2021-11-09T23:59:31+00:00'
                  retry_date: '2021-01-01'
                  scheduled_at: '2021-12-09'
                  shipping_address:
                    address1: 1030 Barnum Ave
                    address2: Suite 101
                    city: Stratford
                    company: Fake Company
                    country_code: US
                    first_name: Fake First
                    last_name: Fake Last
                    phone: 999-999-9999
                    province: Connecticut
                    zip: '06614'
                  shipping_lines:
                  - code: Standard
                    price: '4.90'
                    source: shopify
                    taxable: true
                    tax_lines:
                    - price: '0.355'
                      rate: 0.0725
                      title: CA State Tax
[...]
